@use "vitepress" as vitepress;
@use "origins";

body.vitepress {
	@include vitepress.default;
}

body.developer\.mozilla\.org {
  overflow-x: hidden !important;
}

.developer\.mozilla\.org .top-navigation .container {
  gap: 0px !important;
}

.developer\.mozilla\.org .main-wrapper {
  margin: 0 !important;
  max-width: 100% !important;
}

.developer\.mozilla\.org header {
  overflow-x: auto !important;
}

.developer\.mozilla\.org header .container > .top-navigation-wrap {
  display: none !important;
}

.developer\.mozilla\.org .top-banner {
  display: none !important;
}

.developer\.mozilla\.org .sidebar-filter-container {
  background: none !important;
}

.developer\.mozilla\.org .header-search .search-input-field {
  min-width: 10rem !important;
}

body.archive-box > header {
  display: none !important;
}

body.archive-box > iframe {
  height: 100% !important;
  border-top: none !important;
}	

body.www\.youtube\.com {
  font-size: 2em !important;
}

.www\.youtube\.com #search-icon-legacy {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.www\.youtube\.com #voice-search-button {
  display: none !important;
}

.www\.youtube\.com #header {
  display: none !important;
}

.www\.youtube\.com #buttons {
  display: none !important;
}

.developer\.apple\.com .ac-gn-item > a {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.developer\.apple\.com .ac-gn-searchform-input {
  position: absolute !important;
}

.docs\.rs input.search-input {
  font-size: 0.9em !important;
}

.react\.dev .lg\:grid-cols-sidebar-content {
  grid-template-columns: 10rem auto !important;
}

body {
  margin: 0 !important;
}

body.has-banner {
  margin-top: 64px !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.bg-accent {
  background-color: #C9DDF5 !important; 
}

.text-accent {
  color: #000000 !important;
}

.bg-button {
  background-color: rgba(0,0,0,0.1);
}

@media (prefers-color-scheme: dark) {
  .bg-accent {
    background-color: #283C54 !important;
  }

  .text-accent {
    color: #FFFFFF !important;
  }
  
  .bg-button {
    background-color: rgba(255,255,255,0.1);
  }
}

dialog[open] {
  opacity: 1;
  transform: scaleY(1);
}

/*   Closed state of the dialog   */
dialog {
  opacity: 0;
  transform: scaleY(0);
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out,
    overlay 0.3s ease-out allow-discrete,
    display 0.3s ease-out allow-discrete;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

/*   Before-open state  */
/* Needs to be after the previous dialog[open] rule to take effect,
    as the specificity is the same */
@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scaleY(0);
  }
}

