@use "vitepress" as vitepress;
@use "origins";

body.vitepress {
	@include vitepress.default;
}

body {
  margin: 0 !important;
}

body.has-banner {
  margin-top: 64px !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.bg-accent {
  background-color: #C9DDF5 !important; 
}

.text-accent {
  color: #000000 !important;
}

.bg-button {
  background-color: rgba(0,0,0,0.1);
}

@media (prefers-color-scheme: dark) {
  .bg-accent {
    background-color: #283C54 !important;
  }

  .text-accent {
    color: #FFFFFF !important;
  }
  
  .bg-button {
    background-color: rgba(255,255,255,0.1);
  }
}

dialog[open] {
  opacity: 1;
  transform: scaleY(1);
}

/*   Closed state of the dialog   */
dialog {
  opacity: 0;
  transform: scaleY(0);
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out,
    overlay 0.3s ease-out allow-discrete,
    display 0.3s ease-out allow-discrete;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

/*   Before-open state  */
/* Needs to be after the previous dialog[open] rule to take effect,
    as the specificity is the same */
@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scaleY(0);
  }
}

